POSTGRES_HOST=localhost
POSTGRES_PORT=55432
POSTGRES_USER=orm_user
POSTGRES_PASSWORD=orm_pass

SQLALCHEMY_DB=orm_sqlalchemy
DJANGO_DB=orm_django
SQLMODEL_DB=orm_sqlmodel

SQLALCHEMY_DATABASE_URL=postgresql+psycopg://orm_user:orm_pass@localhost:55432/orm_sqlalchemy
DJANGO_DATABASE_URL=postgresql://orm_user:orm_pass@localhost:55432/orm_django
SQLMODEL_DATABASE_URL=postgresql+psycopg://orm_user:orm_pass@localhost:55432/orm_sqlmodel
