# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/

# Virtual environment
.venv/
venv/

# Local env
.env

# OS/editor
.DS_Store
Thumbs.db
.vscode/

# Build artifacts
build/
dist/

# Docker local data
postgres_data/
